.flight-search-bar {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: whitesmoke;
  padding: 10px;
}

.flight-search-bar h1 {
  text-align: center;
}

.flight-form-field {
  display: flex;
  flex-direction: column;
}

.flight-search-status {
  text-align: center;
}

.flight-search-errors {
  color: red;
  max-width: 500px;
}